.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, var(--p-surface-50) 0%, var(--p-surface-200) 100%);
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 2.5rem;

  /* Usa as variáveis do tema para criar o card flutuante */
  background: var(--p-surface-0);
  border-radius: var(--p-border-radius-xl);
  box-shadow: 0 10px 25px rgba(0,0,0,0.05);
  border: 1px solid var(--p-surface-100);

  h2 {
    text-align: center;
    color: var(--p-primary-color);
    margin-bottom: 2rem;
  }
}
