:host {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

// Estiliza o menu
::ng-deep .p-sidebar {
  .p-sidebar-content {
    padding: 1rem;
  }
  .menu-title {
    font-size: 1.25rem;
    font-weight: 600;
    padding: 0.5rem 0.5rem 1.5rem 0.5rem;
    color: var(--primary-color);
  }
  .p-menu {
    width: 100%;
    border: none;
  }
}

// Layout principal
.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: margin-left 0.3s;
  width: 100%;
  height: 100%;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  background: #fff;
  border-bottom: 1px solid #dee2e6;
  height: 60px;
  flex-shrink: 0;
}

.user-info {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: 500;
  color: #495057;
}

.page-content {
  flex: 1;
  padding: 1.5rem;
  background-color: #f9f9f9;
  overflow-y: auto;
}
:host-context(body.p-sidebar-active) .main-content {
}
